@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
@font-face {
  font-family: dinofont;
  src: url("../fonts/dinofont.ttf");
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-image: url("../multimedia/img/background1.jpg");
  background-size: cover;
}

header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8d295;
  background: linear-gradient(to right, #a2ab58, #636363);
  gap: 5rem;
 
  

}
.logo_sitio{
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: 6;
  animation-direction: alternate;
}
@keyframes aparecer {
  0%{opacity:1;}
  25%{opacity:0.75;}
  50%{opacity:0.5;}
  75%{opacity:0.25;}
  100%{opacity:0;}  
}
nav div ul li a{
  
  font-family: dinofont;
}
nav div ul li {
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
}

.descripcion {
  display: flex;
  flex-direction: column;
}

.descripcion__parrafo {
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 1rem;
  font-size: 1.6rem;
}

.descripcion__cuadro {
  padding: 2rem;
  margin-left: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  gap:2rem;

  justify-content: space-around;
  
}
.descripcion__cuadro__img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  filter: grayscale();
  transition: all 1s;
  width: 100%; /* con esto las imagenes son responsive, se achican al achicar el sitio*/
  max-width: 35rem;
  height: auto;
}
.descripcion__cuadro__img:hover {
  filter: none;
}
/* imagenes de lo que va a ser la pagina de inicio que va a redirigir a las secciones*/
.accesos { 
  font-size: 2rem;
  
}
.accesos .accesos__secciones{
  max-width: 45rem;
  background: none;
  border: none;
}


.accesos__secciones__img {
  width: 100%; /* con esto las imagenes son responsive, se achican al achicar el sitio*/
  height: auto;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  transition: all 1s;
  }

.accesos__secciones__img:hover{
 transform: scale(1.3);
 box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.514), 0 12px 40px 0 rgba(0, 0, 0, 0.5);

}
.accesos:hover .accesos__secciones__img:not(:hover){
  opacity: 0.5;
}

.acceso_secciones_titulo {
  text-align: center;
}
/*-------------------------------------------------------------------------------------*/

.titulo {
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  margin: 2rem 0;
  color: rgb(26, 134, 26);
  text-align: center;
}
/*seccion de los videos*/
.peliculas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  

  background: linear-gradient(to right, #a2ab58, #636363);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


@media screen and (max-width: 950px){  /*esto solo lo hago por los videos */
  .peliculas__video{    
    width: auto;
    height: auto;
  }

}

@media screen and (max-width: 480px) {
   .titulo{
    font-size: 2rem;
  }
  
}
